*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Almarai', sans-serif;
}
.color-body {
  height: 100vh;
  background-color: #f8f8f8;
}
.font {
  font-size: 20px;
}
.rectangle {
  height: 600px;
  background-color: #fff;
  box-shadow: 1px 4px 4px 1px #55555540;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.dates-count {
  color: #555;
  font-weight: 600;
  margin-bottom: 20px;
}
.btn-style {
  width: 200px;
  background-color: #224f61;
  color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.img-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}